<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotimatch</title>
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/login.css') }}" type="text/css" rel="stylesheet">
    
</head>
<body>
  <div class="form-signin">
    <div>
        <h1>Spotimatch</h1>
        <h4>spotify match maker</h4>
    </div>
    <a href="/login" type="button" class="btn btn-lg btn-primary btn-block">Login</a>
    <p class="mt-5 mb-3 text-muted">&copy; HackRU 2019</p>
  </div>
</body>
</html>